{% extends "generic.html" %}
{% block content %}
<div class="col content">
    <h1 class="row">Home</h1>
    <input class="row searchbar" type="text" placeholder="">
    <div class="client-list row">
        <hr>
        <meta id="list_data" value='{{ data }}'>
    </div>
    <script>
        var vari = [];
        var t_data = document.getElementById("list_data").getAttribute("value");
        t_data = t_data.replace(/'/g, '"');
        t_data = JSON.parse(t_data);
        console.log(t_data);
        let el = document.getElementsByClassName('row searchbar')[0];
        el.addEventListener('input', function
            onChange(elChangeEvt) {
            console.log(t_data);
            vari = [];
            var cli_list = document.getElementsByClassName('client-list.row');
            while (cli_list.item(0) != null) {
                cli_list.item(0).remove();
            }
            //go through client-list to check if search pertains to any of them
            for (let x in t_data) {
                console.log("t_data[0]", t_data[x]);
                if (t_data[x][0].toLowerCase().includes(el.value) || t_data[x][1].toLowerCase().includes(el.value)) {
                    console.log("hkj");
                    vari.push(t_data[x][0]);
                    var article = document.createElement("ARTICLE");
                    // add id to article (key)
                    article.setAttribute("id", t_data[x][0] + "@" + t_data[x][1]);
                    article.setAttribute("class", "client-list.row");
                    var span = document.createElement("SPAN");
                    var text = document.createTextNode(t_data[x][0] + ", " + t_data[x][1]);
                    span.appendChild(text);
                    article.appendChild(span);

                    var ve = document.createElement("SELECT");
                    ve.setAttribute("id", "View/Edit_Select");
                    ve.setAttribute("onchange", "location = this.value;");
                    span.appendChild(ve);

                    var ve_opt = document.createElement("option");
                    ve_opt.setAttribute("value", "View/Edit Option");
                    var ve_text = document.createTextNode("View/Edit");
                    ve_opt.appendChild(ve_text);

                    var c_opt = document.createElement("option");
                    c_opt.setAttribute("value", "register");
                    var c_text = document.createTextNode("Client");
                    c_opt.appendChild(c_text);

                    var a_opt = document.createElement("option");
                    a_opt.setAttribute("value", "Attendance Option");
                    var a_text = document.createTextNode("Attendance");
                    a_opt.appendChild(a_text);

                    ve.appendChild(ve_opt);
                    ve.appendChild(c_opt);
                    ve.appendChild(a_opt);

                    // var button = document.createElement("a");
                    // button.setAttribute("href", '#');
                    // button.setAttribute("class", "button");
                    // button.textContent = 'View/Edit';

                    // var dd_menu = document.createElement("dropdown-menu");
                    // dd_menu.appendChild(Object.assign(document.createElement("a"), { class: "dropdown-item", href: '#', textContent: "Bleh" }));
                    // dd_div.appendChild(button);
                    // dd_div.appendChild(dd_menu);
                    // span.appendChild(dd_div);

                    var button = document.createElement("a");
                    button.setAttribute("href", '#');
                    button.setAttribute("class", "button");
                    button.textContent = 'Bill';
                    span.appendChild(button);

                    var button = document.createElement("a");
                    button.setAttribute("href", '#');
                    button.setAttribute("class", "button");
                    button.textContent = 'Remove';
                    span.appendChild(button);


                    article.appendChild(document.createElement("BR"));
                    article.appendChild(document.createElement("HR"));

                    document.body.appendChild(article);
                    //`<html><article class="client-list row"><span>` + t_data[x][0] + `, ` + t_data[x][1] + `</span><br></br><hr></hr></article></html>`
                    console.log("In func", vari);
                }
            }
        }); </script>
</div>
{% endblock content %}