{% extends "generic.html" %}
{% block content %}
<form method="POST" action="">
    <div class="col content">
        <h1 class="row">Sign In</h1>
        <input class="row" placeholder="Username">
        <input class="row" placeholder="Password">
        <button class="row btn primary">Primary Button</button>
        <!-- <input class="text" placeholder="Input..."> -->
    </div>
</form>
<!-- <div class="row">
    <div class="7 col">Seven</div>
    <div class="4 col">Five</div>
    <div class="1 col">ten</div>
</div> -->
{% endblock content %}